@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
  --VeryDarkBlue: hsl(212, 21%, 14%);
  --Darkblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
  --DarkCyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
}


.App{
    padding: 0.75rem;
    background-color: var(--White);
    border-radius: 0.8125rem;
    columns: 2;
    width: 35rem;
}

.imagem{
  width: 100%;
}

@media (max-width: 375px) {
  .App {
    columns: 1;
    margin: 1.925rem;
  }
}